# CMake build artifacts
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/

# Visual Studio Code
.vscode/

# Ignore documentation artifacts
docs/*

# IDEA IDE
.idea
orb2.iml